{% extends "base.html" %}

{% block title %}MultiChat Example{% endblock %}
{% block header_text %}Sockets chat example{% endblock %}

{% block content %}

    <ul class="rooms">
        {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

    <div id="chats">
    </div>

{% endblock %}


{% block extra_body %}

{% endblock %}
